@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Styling untuk input saat autofill - khusus .input-form
.input-form:-webkit-autofill,
.input-form:-webkit-autofill:hover,
.input-form:-webkit-autofill:focus,
.input-form:-webkit-autofill:active {
  background-color: #FFFFFF !important;
  -webkit-text-fill-color: #000 !important;
  border: 1.5px solid #000 !important;
  border-radius: 0.5rem !important;
  -webkit-box-shadow: 2.5px 3px 0 #000, 0 0 0 1000px #FFFFFF inset !important;
  box-shadow: 2.5px 3px 0 #000, 0 0 0 1000px #FFFFFF inset !important;
  padding: 0.5rem !important;
  font-size: 0.75rem !important;
  outline: none !important;
  transition: ease 0.25s !important;
  background-clip: content-box !important;
}


@media (min-width: 768px) {
  .input-form:-webkit-autofill,
  .input-form:-webkit-autofill:hover,
  .input-form:-webkit-autofill:focus,
  .input-form:-webkit-autofill:active {
    padding: 0.875rem !important;
    font-size: 1rem !important;
  }
}


.input-form:-webkit-autofill:focus {
  -webkit-box-shadow: 5.5px 7px 0 black, 0 0 0 1000px #FFFFFF inset !important;
  box-shadow: 5.5px 7px 0 black, 0 0 0 1000px #FFFFFF inset !important;
}


.input-form:-moz-autofill {
  background-color: #FFFFFF !important;
  color: #000 !important;
  border: 1.5px solid #000 !important;
  border-radius: 0.5rem !important;
  box-shadow: 2.5px 3px 0 #000 !important;
  padding: 0.5rem !important;
  font-size: 0.75rem !important;
}

@media (min-width: 768px) {
  .input-form:-moz-autofill {
    padding: 0.875rem !important;
    font-size: 1rem !important;
  }
} */

/* Custom Input Styles */
.input-form {
  background: #FFFFFF;
  padding: 0.5rem; /* Smaller padding for mobile */
  font-size: 0.75rem; /* Default for mobile */
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

@media (min-width: 768px) {
  .input-form {
    padding: 0.875rem; /* Original padding for md screens and above */
    font-size: 1rem; /* For md screens and above */
  }
}

.input-form:focus {
  box-shadow: 5.5px 7px 0 black;
}

.input-form:focus ~ .input-border {
  width: 100%;
}

/* Custom Button Styles */
.button-form {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 2px 0 #000;
  outline: none;
  transition: 0.25s ease;
}

.button-form:hover {
  box-shadow: 5.5px 5px 0 #000;
}

.button-form:active {
  transform: translateY(1px);
}

@media (min-width: 768px) {
  .button-form {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }
}