@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom Input Styles */
.input-form {
  background: #FFFFFF;
  padding: 0.5rem; /* Smaller padding for mobile */
  font-size: 0.75rem; /* Default for mobile */
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

@media (min-width: 768px) {
  .input-form {
    padding: 0.875rem; /* Original padding for md screens and above */
    font-size: 1rem; /* For md screens and above */
  }
}

.input-form:focus {
  box-shadow: 5.5px 7px 0 black;
}

.input-form:focus ~ .input-border {
  width: 100%;
}

/* Custom Button Styles */
.button-form {
  /* Remove the hardcoded background color */
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 2px 0 #000;
  outline: none;
  transition: 0.25s ease;
}

.button-form:hover {
  /* Remove the hardcoded hover background */
  box-shadow: 5.5px 5px 0 #000;
}

.button-form:active {
  transform: translateY(1px);
}

@media (min-width: 768px) {
  .button-form {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }
}
